<template>
  <div id="app">
    <div class="main">
      <center>
        <img class="topbanner" src="https://svgur.com/i/CiJ.svg">
        <p class="projects">
          <router-link 
            v-for="page of pages"
            v-bind:key="page"
            :to="page.to"
            class="link"
          >{{ page.display }}</router-link>
        </p>
      </center>

    </div>
  </div>
</template>

<script>
import AppData from "./appData.js"

export default {
  name: "refracture-homepage",
  components: {},
  data() {
    return AppData
  },
  mounted() {},
  methods: {},
  shortcuts: {}
}

</script>

<style lang="less">
body {
  background: #191f28;
  color: #49bdba;
  font-family: 'Roboto';
  margin: 0px;
  overflow: hidden;
  & > svg {
    content: '';
    margin-left: -75vw;
    margin-top: -50%; 
    animation: anti 200s linear infinite 0s;
    -webkit-animation: anti 200s linear infinite 0s;
    filter: blur(20px);
    @keyframes anti{
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg);  }
    }
  }
}

a {
  color: #49bdba;
  text-decoration: none;
  &:visited {
    color: #49bdba;
  }
  &:hover {
    text-decoration: underline;
  }
}

.main {
  background: rgba(0,0,0,.4);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  padding: 1rem;
  .projects {
    margin-left: 3rem;
    margin-top: -.9rem;
    font-size: 1.5rem;
    .link {
      margin-right: 1rem;
    }
  }
}

.topbanner {
  width: 30vw;
}
</style>